body
{
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

#landing
{
	text-align: center;
	color: white;
	background-image: url('../../images/land-image.png');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.landing-text 
{
	font-size: 15px !important;
}
.landing-pad
{
	padding: 0;
}
.margin-top
{
	margin-top: 20px;
}
.font-2
{
	font-family: 'Bitter', serif;
}
#iphone
{
	background-image: url('../../images/cities/iphone.png');
}
#guadalajara
{
	background-image: url('../../images/cities/guadalajara.png');
}
#tlaquepaque
{
	background-image: url('../../images/cities/tlaquepaque.png');
}
#zapopan
{
	background-image: url('../../images/cities/zapopan.png');
}

.ad-banner
{
	text-align: center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ad-description
{
	font-size: 1.2em;
}
.ad-info
{
	font-size: 1.1em;
}
.ad-info-strong
{
	color: #FF9900;
}
.ad-info-text
{
	font-weight: bold;
	color: #4C4C4C;
}
.ad-price
{
	font-family: Serif;
	font-size: 1.3em;
	color: #CC0000;
}
.black
{
	color: white;
	background-color: black;
}
.black:hover
{
	color: white;
}
.brand-text
{
	font-size: 2em;
	word-wrap: break-word;
}
.font-1
{
	font-size: 20px;
}
.red
{
	color: #00CC99;
}
.red-n
{
	background-color: #CC3300;
}
.space
{
	padding-top: 20px;
    padding-bottom: 20px;
}

.panel-contact
{
	padding: 30px;
}
.panel-contact-price
{
	color: #00cc99;
	font-size: 20px;
}
.panel-contact-title
{
	color: #6a6a6a;
	font-size: 20px;
}
.panel-contact-description
{
	color: #b5b5b5;
	font-size: 15px;
	margin-bottom: 10px;
}
.panel-contact-category
{
	display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    background-color: #f6f6f6;
    line-height: 26px;
    padding: 0 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.panel-contact-category a
{
	text-decoration: none;
    color: #b5b5b5;
}
.panel-contact-map
{
	margin-bottom: 10px;
}


.profile-avatar-settings
{
	border-radius: 5px;
	height: 100px;
	width: 100px;
}
.min-height
{
	min-height: 930px;
}
.margin-bottom
{
	margin-bottom: 75px;
}
.whatsapp
{
	height: 20px;
	width: 20px;
}
.word-wrap
{
	word-wrap: break-word;
}


#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.ad-image-min {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}